{{!--<p class="question__text">Where in the city do you want to grab a drink?</p>
<div class="neighborhood-choices">
    <label for="neighborhoods">Neighborhoods:</label>
    <select name="neighborhood" class="neighborhoods" id="neighborhoods">
    <option value="" disabled selected>Pick one!</option>
    {{#each options}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>
</div>--}}
<p class="question__text">Where in the city do you want to grab a drink?</p>
<div class="neighborhood-choices">
    {{#each options as |neighborhood index|}}
    <div>
        <input class="neighborhoods" name="neighborhood" type="checkbox" id="checkbox-{{index}}" value="{{neighborhood}}" />
        <label class="neighborhood-label" for="checkbox-{{index}}">{{neighborhood}}</label>
    </div>
    {{/each}}
</div>
