<div class="result">
    <div class="result__name">{{name}}</div>
    <div class="result__column result__column--left">
        <ul>
        <li><span>Address</span></li>
        <li><span>Neighborhood</span></li>
        <li><span>Known for</span></li>
        <li><span>Average Drink Price</span></li>
        <li><span>TVs</span></li>
        </ul>
    </div>
    <div class="result__column result__column--right">
        <ul>
        <li>{{address}}</li>
        <li>{{neighborhood}}</li>
        <li>{{speciality}}</li>
        <li>{{price}}</li>
        <li>{{tv}}</li>
        </ul>
    </div>
    <div class="result__website"><a href="{{website}}" target="_blank">{{website}}</a></div>
</div>