<p class="question__text">Should there be any TVs in the bar?</p>
<div class="question__choices">
    <div class="tv">
        <input name="tv" type="radio" id="radio-tv-{{tvs.[0]}}" value="{{tvs.[0]}}" />
        <label class="tv-label" for="radio-tv-{{tvs.[0]}}">{{tvs.[0]}}</label>
    </div>
    <div class="tv">
        <input name="tv" type="radio" id="radio-tv-{{tvs.[1]}}" value="{{tvs.[1]}}" />
        <label class="tv-label" for="radio-tv-{{tvs.[1]}}">{{tvs.[1]}}</label>  
    </div>
    <div class="tv">
        <input name="tv" type="radio" id="radio-tv-{{tvs.[2]}}" value="{{tvs.[2]}}" />
        <label class="tv-label" for="radio-tv-{{tvs.[2]}}">Maybe</label>  
    </div>
</div>
